.container {
  width: 100%;
}

.viewContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 30px 20px;
  background-color: var(--color-background);
  box-shadow: 0 0 30px #222;
}
